<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="stylesheet" href="{{ "/assets/screen.css" | relative_url }}" media="screen">
  <link rel="stylesheet" href="{{ "/assets/print.css" | relative_url }}" media="print">

  <!-- Meta Tags -->
  <title>Marián Hlaváč</title>
  <meta name="title" content="Marián Hlaváč">
  <meta name="description" content="Marián Hlaváč is a full-stack web developer and technology enthusiast with interests in various multimedia, art and design.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:title" content="Marián Hlaváč">
  <meta property="og:description" content="Marián Hlaváč is a full-stack web developer and technology enthusiast with interests in various multimedia, art and design.">
  <meta property="og:image" content="{{ "/assets/screenshot.png" | absolute_url }}">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="{{ site.url }}">
  <meta property="twitter:title" content="Marián Hlaváč">
  <meta property="twitter:description" content="Marián Hlaváč is a full-stack web developer and technology enthusiast with interests in various multimedia, art and design.">
  <meta property="twitter:image" content="{{ "/assets/screenshot.png" | absolute_url }}">
</head>