* {
  box-sizing: border-box;
}

*::selection,
*::-moz-selection {
  background: #ffe1e7;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, 
               Arial, sans-serif, "Apple Color Emoji",
               "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 17px;
  line-height: 1.85;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

/* Headings */

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 3.5rem;
  margin: 3em 0 1em 0;
  line-height: 1.1;
}

h2 {
  font-size: 2rem;
  margin: 1.5em 0 0.4em 0;
}

h3 {
  font-size: 1.33rem;
  margin: 1.5em 0 0 0;
}

/* Layout */

.wrap {
  overflow-x: hidden;
}

main {
  max-width: 900px;
  padding: 4rem 2rem;
  margin: auto;
  position: relative;
}

main > p:first-child {
  margin: 0;
}

.home-page > h1 {
  margin-top: 4.25em;
  width: 10em;
}

/* Typography */

p {
  margin: 0.5em 0 1em 0;
  text-align: justify;
}

hr {
  border: 0;
  border-bottom: thin solid #999;
  margin: 2rem 0;
}

footer {
  font-size: 0.9em;
  color: #999;
}

a {
  color: #E83749;
  -webkit-text-fill-color: transparent;
  background: -webkit-gradient(linear, left top, right top, from(#e83749),to(#3a4883));
  background: linear-gradient(to right, #e83749, #3a4883);
  background-clip: text;
  -webkit-background-clip: text;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  text-decoration: none;
  transition: background-size 0.3s;
  background-size: 1000%;
  background-position-x: 0%;
}

a:hover {
  background-size: 100%;
  text-decoration: underline;
  text-decoration-color: #3a4883; 
  -webkit-text-decoration-color: #3a4883;
}

/* Illustration */

.illustration {
  display: block;
  background: url('illustration.svg') no-repeat;
  width: 1400px;
  height: 350px;
  position: absolute;
  left: 65%;
  z-index: -100;
}

/* Button */

a.button {
  display: inline-block;
  -webkit-text-fill-color: unset;
  color: unset;
  background: #eee;
  border-radius: 0.5em;
  padding: 0 1em;
  line-height: 2.5rem;
  font-weight: 600;
  font-size: 0.85em;
  background-clip: none;
  -webkit-background-clip: none;
}

a.button:hover {
  background: #3a4883;
  color: white;
  text-decoration: none;
  -webkit-text-fill-color: white;
}

.download-pdf {
  float: right;
}

.works-as {
  float: right;
  padding: 0 1em;
  line-height: 2.5rem;
  font-weight: 600;
  font-size: 0.7em;
  color: #999;
}

/* Lists */

ul h3 {
  font-weight: 400;
  margin-top: 0.75em;
}

li {
  text-align: justify;
}

/* This is crazy, right? Darkmode! */

@media (prefers-color-scheme: dark) {
  body {
    background: #222;
    color: #eee;
  }

  a.button {
    background: #4b4b4b;
  }

  a.button:hover {
    background: #eee;
    color: #222;
    -webkit-text-fill-color: #222;
  }

  .illustration {
    opacity: .8;
    filter: hue-rotate(45deg);
  }

  a {
    color: #b4683c;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-gradient(linear, left top, right top, from(#b4683c),to(#c99933));
    background-image: linear-gradient(to right, #b4683c, #c99933);
  }

  a:hover {
    text-decoration-color: #b4683c; 
    -webkit-text-decoration-color: #b4683c;
  }
}

/* Responsiveness */

@media screen and (max-width: 800px) {
  main {
    padding: 2rem;
  }

  .home-page > h1 {
    margin: 2rem 0;
  }

  .illustration {
    position: static;
    margin-top: -2rem;
  }
  
  a.download-pdf {
    float: left;
  }

  .works-as {
    float: none;
  }
}